[Desktop Entry]
Version=1.0
Type=Application
Name=VAPOR
Comment=Visual Artwork Processing & Organization Resource
Exec=./VAPOR_SteamDeck_x64
Icon=vapor
Terminal=false
Categories=Game;Utility;
StartupWMClass=VAPOR
